<body>

		<header class"panel-defult">
		
          <div class="container-fluid">
          <nav class="navbar navbar-default">
              <div class="navbar-header">
        
                 <div>
                   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-0" aria-expanded="true">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                 </div>  
               </div>   
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-0">   

            <ul class="nav nav-pills">

             <li>
                <% if user_signed_in? && current_user.sadmin? %>
                      <li class="nav-item">
                      <span> <%= current_user.firstname=%></span><span> <%= current_user.lastname=%></span>
                      <p>SuperAdministrador  <span class="sr-only">(current)</span></p>
                      </li>

                  <button type="button" class="btn btn-default" aria-label ="Left Align">
                  <span> <%=link_to image_tag('start/salir.png'), destroy_user_session_path, method: :delete, data: {confirm: "Seguro que desea salir"}%></span>
                  </button> 

                  <button type="button" class="btn btn-default" aria-label="Left Align">
                  <span> <%=link_to image_tag('start/inicio_1.png'), entry_start_path %>
                  </span>
                  </button>
                  
                  <% elsif user_signed_in? && current_user.admin? %>
                      <li class="nav-item">
                      <span> <%= current_user.firstname=%></span><span> <%= current_user.lastname=%></span>
                      <p>Administrador  <span class="sr-only">(current)</span></p>
                      </li>>

                    <button type="button" class="btn btn-default" aria-label ="Left Align">
                   <span> <%=link_to image_tag('start/salir.png'), destroy_user_session_path, method: :delete, data: {confirm: "Seguro que desea salir"}%></span>
                  </button> 

               
                  <button type="button" class="btn btn-default" aria-label="Left Align">
                  <span> <%=link_to image_tag('start/inicio_1.png'), entry_start_path %>
                  </span>
                  </button>

                  <% elsif user_signed_in? && current_user.user?%>
                      <li class="nav-item">
                      <span> <%= current_user.firstname=%></span><span> <%= current_user.lastname=%></span>
                      <p>Usuario<span class="sr-only">(current)</span></p>
                      </li>>

                  <button type="button" class="btn btn-default" aria-label ="Left Align">
                   <span> <%=link_to image_tag('start/salir.png'), destroy_user_session_path, method: :delete, data: {confirm: "Seguro que desea salir"}%></span>
                  </button> 

               
                  <button type="button" class="btn btn-default" aria-label="Left Align">
                  <span> <%=link_to image_tag('start/inicio_1.png'), entry_start_path %>
                  </span>
                  </button>
                                               
            <% end %>       	
            </li>
              <li role="presentation" class="active"><a href="/settings/startsettings/">Inicio</a></li>
              <li role="presentation" class="active"><a href="startsettings.html.erb">Quienes Somos</a></li>
              <li role="presentation" class="active"><a href="">Vision</a></li>
              <li role="presentation" class="active"><a href="#">Servicios</a></li>
              
            </ul>
           </div>
           </nav>
         </div>
           
 <div class="container-fluid">
           	
   <nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
        
          <div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
          </div>  
      </div>



    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav"> 
       <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AB-Test User<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="separator" class="divider"></li>
            <li><a href="/users">Users</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
     </ul> 


      <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="/providers#index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Site <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="separator" class="divider"></li>
            <li><a href="/categoryproviders#index">Sites</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/providers#index">Designs</a></li>
           
          </ul>
        </li>
      </ul>
    

      <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">A-B Testing <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/mostpopular">Most popular</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/measures">Metrics</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/services">Services</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav">

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Prices <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/purchaseprices">User plan </a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/salveprices">Listas Precio Venta</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
      </ul>   
      
     
  </nav>
</div>

</header>



	


</body>