<p id="notice"><%= notice %></p>

<div class="content sites">
  <ul class="container">
    <% @sites.each do |site| %>
    <li class="site-container orange">
      <a href="<%= site_ab_tests_path site %>">
        <%= render "shared/world_svg" %>
        <h3><%= site.domain %></h3>
      </a>
      <div class="bottom">
        <a href="#"><i class="icon-ellipsis-vert"></i></a>
        <%= link_to 'Show', site %>
        <%= link_to 'Edit', edit_site_path(site) %>
        <%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </li>
    <% end %>
  </ul>

  <%= link_to 'New Site', new_site_path %>
</div>