<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>A-B_TESTING</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= csrf_meta_tags %>

   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">     </script>
   <!-- Latest compiled and minified CSS
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Optional theme 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.cs
 <link rel="stylesheet" type="text/css" href="https://bootswatch.com/yeti/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/yeti/bootstrap.css">-->

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  
 
</head>
<body>

<%= render 'navs/nav.settings.html.erb'%>

<%= yield %>
 <!-- Latest compiled and minified JavaScript -->
  
</body>
</html>
